<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unknown.cheaperapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Volley.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="اوفرلى"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC6FXmsYsUqwTSIaM_DF5FzPrrj0Jw8DUA" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.AdvertiserDataEntery_Activity" />
        <activity android:name=".Activity.MapActivity" />
        <activity android:name=".Activity.MakeOfferActivity" />
        <activity android:name=".Activity.AdDetailsActivity" />
        <activity android:name=".Activity.AddBranch_Activity" />
        <activity android:name=".Activity.UserAgreementActivity" />
        <activity android:name=".Activity.EditBranch_Activity" />
        <activity android:name=".Activity.Add_Notification_Activity" />
        <activity android:name=".Activity.MyAdvertisement_Activity" />
        <activity android:name=".Activity.Categories_Stores_Activity" />
        <activity android:name=".Activity.SpecificAdsActivity" />
        <activity android:name=".Activity.AdvertiserData_Activity" />
        <activity android:name=".Activity.More_Describtion_activity" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.ContactUs_Activity"></activity>
    </application>

</manifest>